<h1>{{model.name}}</h1>
<h2>Posts</h2>
{{#if availablePosts}}
<ul>
  {{#each availablePosts as |post|}}
    <li>{{post.title}}</li>
  {{/each}}
</ul>
{{else}}
  <p style="color:red;">Posts are not yet loaded</p>
{{/if}}